@import controllers.routes.LoginController

@(continue: String, errorMessage: Option[String] = None)(implicit request: Request[_], messages: Messages) {

    <html>
        <head><title>Login</title></head>
        <body>
            <div>
                <h1>Sign in</h1>
                <p>Enter your Test User credentials to sign in.</p>

                @helper.form(action = LoginController.login()) {

                    @errorMessage.map { error =>
                        <span>@Messages(error)</span>
                    }
                    <div>
                        @helper.CSRF.formField
                        <input type="hidden" name="continue" id="continue" value="@{continue}">

                        <div>
                            <label for="userId">User ID</label>
                            <input type="text" id="userId" name="userId" required>
                        </div>
                        <div>
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" required>
                        </div>
                        <div>
                            <button id="submit" type="submit">Sign in</button>
                        </div>
                    </div>
                }
            </div>

        </body>
    </html>
}